
@{
    ViewBag.Title = "Dashboard";
}



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/administrator/pages/index"><button type="button" class="btn btn-primary">Market Pages CRUD</button></a>
        </div>
        <div class="col-sm-4">
            <a href="/administrator/shop/categories"><button type="button" class="btn btn-secondary">Categories CRUD</button></a>
        </div>
        <div class="col-sm-4">
            <a href="/administrator/shop/addproduct"><button type="button" class="btn btn-success">Categories CRUD</button></a>
        </div>
    </div>
</div>


